@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Rubik", sans-serif;
    --breakpoint-sm: 480px;
    --breakpoint-md: 640px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --outline: none;
    --ring: none;
}

@base {
    * {
        outline: none;
        ring: none;
    }
}